<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/gradient.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Estate Ninja</title>
</head>

<body>
    <div class="flex flex-col h-screen items-center justify-center w-screen">
        <nav
            class="absolute top-0 left-0 flex flex-row items-center justify-between z-20 px-12 w-full py-2 border-b border-neutral-200 bg-white">
            <h3 class="font-bold text-2xl">Estate Ninja</h3>
            <ul class="flex flex-row items-center gap-3">
                <li><a href="/" class="link-hover hover:text-primary hover:opacity-90">Home</a></li>
                <li><a href="/stats" class="link-hover hover:text-primary hover:opacity-90">Stats</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>

</html>